<meta name="author" content="laslopaul">
<meta name="description" content="devops & homelab enthusiast">

<meta property="og:type" content="website">
<meta property="og:title" content="laslopaul">
<meta property="og:description" content="devops, homelab, kubernetes, linux, ansible, terraform">
<meta property="og:url" content="https://laslopaul.dev/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="laslopaul">
<meta name="twitter:description" content="devops, homelab, kubernetes, linux, ansible, terraform">

<meta property="og:image" content="https://laslopaul.dev/og.png">
<meta name="twitter:image" content="https://laslopaul.dev/og.png">

<link rel="icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<div id="scroll-progress"></div>
